.body {
    display: flex;
}

.h1 {
    position: absolute;
    width: 93px;
    height: 36px;
    left: 320px;
    top: 53px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4f4f4f;
}

.btn-def-1,
.btn-def-2,
.btn-def-3,
.btn-def-4,
.btn-def-5,
.btn-def-6 {
    position: absolute;
    cursor: pointer;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    border-radius: 6px;
}

.btn-def-1 {
    left: 319px;
    top: 141px;
    border: none;
    background: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
}

.btn-def-2 {
    left: 555px;
    top: 141px;
    border: none;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
}

.btn-def-2:hover,
:focus {
    background: #aeaeae;
}

.btn-def-3 {
    left: 319px;
    top: 254px;
    border: 1px solid #3D5AFE;
    border-radius: 6px;
    color: #3D5AFE;
    background: none;
}

.btn-def-4 {
    left: 555px;
    top: 254px;
    background: rgba(41, 98, 255, 0.1);
    border: 1px solid #3D5AFE;
    color: #3D5AFE;

}

.btn-def-5 {
    left: 319px;
    top: 357px;
    background: none;
    border: none;
    color: #3D5AFE;
}

.btn-def-6 {
    top: 357px;
    left: 555px;
    border: none;
}
